@use "../helpers" as *;

body {
  background-color: $clr-gray_200;
}

.article {
  margin: rem(64) rem(24);
  box-shadow: 0 rem(40) rem(40) rgba(#c9d5e1, 50.34%);

  &-img {
    width: 100%;
    height: rem(200);
    border-radius: rem(10) rem(10) 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 21%;
    }
  }

  &-content {
    background-color: $clr-white;
    padding: rem(32) rem(30) rem(18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(48);
    border-radius: 0 0 rem(10) rem(10);
    position: relative;
  }
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(24);

    &__header {
      color: $clr-gray_900;
      @include text-p1;
    }
    &__paragraph {
      color: $clr-gray_500;
      @include text-p2;
    }
  }

  &-author__share {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .share {
      &-nav {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
