@use "../helpers" as *;

.share-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  min-width: rem(327);
  justify-content: flex-start;
  align-items: center;
  padding: rem(22) rem(30);
  background-color: $clr-gray_900;
  border-radius: 0 0 rem(10) rem(10);
  display: flex;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;

  &__label {
    @include text-p4;
    color: $clr-gray_400;
    margin-right: rem(24);
  }
  .icons {
    height: rem(32);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(16);
    width: 100%;

    &__icon {
      cursor: pointer;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include breakpoint("md") {
    min-width: rem(248);
    padding: rem(16.5) rem(38.5);
    position: absolute;
    bottom: calc(100% + rem(31));
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    border-radius: rem(10);
    box-shadow: 0 rem(10) rem(10) rgba(201, 213, 225, 0.5034);

    &::before {
      content: "";
      position: absolute;
      top: calc(100% - rem(2));
      left: 50%;
      border: rem(24) solid transparent;
      border-top: rem(24) solid $clr-gray_900;
      transform: translateX(-50%);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
    .icons {
      height: rem(20);
    }
  }
}
