@use "./functions" as *;

// ! COLORS -----------------------------------
$clr-white: var(--clr-white);

$clr-gray_900: var(--clr-gray_900);
$clr-gray_500: var(--clr-gray_500);
$clr-gray_400: var(--clr-gray_400);
$clr-gray_200: var(--clr-gray_200);
